<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Loading...</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../node_modules/fontawesome-4.7/css/font-awesome.min.css'>
<style>
    body{
        background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: whitesmoke;
        height: 160px;
    }
</style>
</head>
<body>
    <center>
        <h2>Combined Student Management System</h2>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><br>
        <code><h3 style="color: #ddffb8;"> Loading...</h3></code>
    </center>
        <a style="color:rgb(48, 47, 47)"><span style="font-size:13px; font-weight:bold">V</span>ersion : <span style="font-size:13px; font-weight:bold">v1.0.0</span></a>
        <span style="float: right;"><a style="text-decoration:none; color:rgb(77, 76, 76)" href="https://github.com/Pradeepg2445" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Pradeepg2445</a></span>
</body>
</html>